@charset "utf-8";
/* CSS Document */

#slider-container {
    height: 150px;
}

.news-slider {
    visibility: hidden;
}
.news-slider.slick-initialized {
    visibility: visible;
}

.news-slider .slick-dots button,
.slick-dots button:active {

    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.news-slider .newscontent .headline {
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 7px;
}

[dir='rtl'] .news-slider .newscontent .headline {
    padding-right: 20px;
}

.news-slider .newscontent .headline a {
    color: #444 !important;
}

.news-slider .newscontent .headline  a:hover,
.news-slider .newscontent a:hover {
    color: #0070a8 !important;
}

.news-slider .authorline {
    font-size: 12px;
}

[dir='rtl'] .news-slider .authorline {
    padding-right: 20px;
}

.news-slider .newscontent p {
    padding: 10px 10px;
}

.news-slider .newscontent a {
    font-weight: 400;
    line-height: normal;
    font-size: 95%;
    color: #333 !important;
}


.block .content .newscontent a:hover {
    color: #0070a8 !important;
}

.slider .newscontent a:hover {
    color: #333 !important;
}

.slider-banner-col {
    height: 135px;
    display: none;
}

.slider-banner-col span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.slider-col {
    padding: 1.0em 0.5em;
    background-color: #eee;
    height: 100%;
    width: 100%;
    float: none;
}

.slider-col .userpicture {
    width: 35px !important;
    height: 35px !important;
}

.slider-col .userpicture-container {
    padding: 0px 10px 0px 10px;
    min-height: 90px;
}

.slider-col-date {
    font-size: 12px;
    color: #555;
    display: none;
}

.slider-col-date-minimal {
    display: block;
    color: #555;
}

.slider-message-short {
    padding-top: 10px;
    display: block;
}

.slider-message {
    padding: 10px 0 3px 0;
    width: 95%;
    display: none;
}

[dir='rtl'] .news-slider .slider-message {
    padding: 10px 20px 3px 0;
    width: 95%;
    display: none;
}

[dir='rtl'] .news-slider .slider-message-short {
    padding-top: 10px;
    display: block;
}

@media only screen and (min-width: 1024px) {
    .slider-banner-col {
        width: 20%;
        max-width: 1250px;
        height: 100%;
        background-color: #f15c22;
        float: left;
        position: relative;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .slider-banner-col span {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-col {
        padding: 1.0em 0.5em;-
        background-color: #eee;
        height: 100%;
        width: 80%;
        float: left;
    }

    .news-slider .headline a {
        font-size: 16px;
    }

    .news-slider .authorline {
        font-size: 12px;
    }

    .slider-col-date-minimal {
        display: none;
    }

    .slider-col-date {
        display: block;
        font-size: 14px;
    }

    .slider-message-short {
        display: none;
    }

    .slider-message {
        display: block;
    }
}

@media only screen and (min-width: 1280px) {

    .news-slider .headline a {
        font-size: 22px;
    }

    .news-slider .authorline {
        font-size: 14px;
    }

    .slider-col-date {
        font-size: 14px;
        padding: 0 5px;
    }

}

@media only screen and (min-width: 1440px) {
    .slider-banner-col span {
        font-size: 30px;
    }

}
